{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" class="mx-auto" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload Timetable (Student)</legend>
                <div class="form-group">
                    {{ form.fileInput.label(class="form-control-label") }}
                    {% if form.fileInput.errors %}
                        {{ form.fileInput(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fileInput.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fileInput(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </div>
{% endblock content %}